In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [6]:
import pandas as pd

# Cargar el archivo CSV en un DataFrame
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/GitHub/Netflix subscription fee Dec-2021.csv")

# Mostrar las primeras filas del DataFrame
print(df.head())

# Obtener información sobre el DataFrame
print(df.info())

# Calcular la media de suscriptores por año
# mean_subscribers = df["Suscriptores de Netflix"].mean()
#print("Media de suscriptores:", mean_subscribers)

# Calcular el año con el máximo número de suscriptores
#max_subscribers_year = df.loc[df["Suscriptores de Netflix"].idxmax()]["Año"]
#print("Año con el máximo número de suscriptores:", max_subscribers_year)

  Country_code    Country  Total Library Size  No. of TV Shows  No. of Movies  \
0           ar  Argentina                4760             3154           1606
1           au  Australia                6114             4050           2064
2           at    Austria                5640             3779           1861
3           be    Belgium                4990             3374           1616
4           bo    Bolivia                4991             3155           1836

   Cost Per Month - Basic ($)  Cost Per Month - Standard ($)  \
0                        3.74                           6.30
1                        7.84                          12.12
2                        9.03                          14.67
3                       10.16                          15.24
4                        7.99                          10.99

   Cost Per Month - Premium ($)
0                          9.26
1                         16.39
2                         20.32
3                         20.32
4                         13.99
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country_code                   65 non-null     object
 1   Country                        65 non-null     object
 2   Total Library Size             65 non-null     int64
 3   No. of TV Shows                65 non-null     int64
 4   No. of Movies                  65 non-null     int64
 5   Cost Per Month - Basic ($)     65 non-null     float64
 6   Cost Per Month - Standard ($)  65 non-null     float64
 7   Cost Per Month - Premium ($)   65 non-null     float64
dtypes: float64(3), int64(3), object(2)
memory usage: 4.2+ KB
None

In [7]:
df = df.drop('Country_code', axis=1)

# Mostrar el DataFrame resultante
print(df)

           Country  Total Library Size  No. of TV Shows  No. of Movies  \
0        Argentina                4760             3154           1606
1        Australia                6114             4050           2064
2          Austria                5640             3779           1861
3          Belgium                4990             3374           1616
4          Bolivia                4991             3155           1836
..             ...                 ...              ...            ...
60         Ukraine                5336             3261           2075
61  United Kingdom                6643             4551           2092
62   United States                5818             3826           1992
63         Uruguay                4989             3154           1835
64       Venezuela                4797             3154           1643

    Cost Per Month - Basic ($)  Cost Per Month - Standard ($)  \
0                         3.74                           6.30
1                         7.84                          12.12
2                         9.03                          14.67
3                        10.16                          15.24
4                         7.99                          10.99
..                         ...                            ...
60                        5.64                           8.46
61                        7.91                          13.20
62                        8.99                          13.99
63                        8.99                          12.99
64                        7.99                          10.99

    Cost Per Month - Premium ($)
0                           9.26
1                          16.39
2                          20.32
3                          20.32
4                          13.99
..                           ...
60                         11.29
61                         18.48
62                         17.99
63                         15.99
64                         13.99

[65 rows x 7 columns]

In [11]:
import pandas as pd

# Suponiendo que ya has cargado tu base de datos en un DataFrame llamado df

# Diccionario que mapea cada país a su continente correspondiente
diccionario_continentes = {
    'United Kingdom': 'Europa',
    'United States': 'América del Norte',
    'Argentina': 'América del Sur',
    'Uruguay': 'América Sur',
    'Venezuela': 'América del Sur',
    'Paraguay': 'América del Sur',
    'Peru': 'América del Sur',
    'Chile': 'América del Sur',
    'Colombia': 'América del Sur',
    'Bolivia': 'América del Sur',
    'Brazil': 'América del Sur',
    'Ecuador': 'América del Sur',
    'Australia': 'Oceanía',
    'New Zealand': 'Oceanía',
    'Austria': 'Europa',
    'Belgium': 'Europa',
    'Bulgaria': 'Europa',
    'Croatia': 'Europa',
    'Czechia': 'Europa',
    'Denmark': 'Europa',
    'Estonia': 'Europa',
    'Finland': 'Europa',
    'France': 'Europa',
    'Germany': 'Europa',
    'Gibraltar': 'Europa',
    'Greece': 'Europa',
    'Canada': 'América del Norte',
    'Guatemala': 'América Central',
    'Mexico': 'América Central',
    'Honduras': 'América Central',
    'Costa Rica': 'América Central',
    'Hong Kong': 'Asia',
    'India': 'Asia',
    'Israel': 'Asia',
    'Japan': 'Asia',
    'Malaysia': 'Asia',
    'Philippines': 'Asia',
    'Singapore': 'Asia',
    'South Korea': 'Asia',
    'Taiwan': 'Asia',
    'Turkey': 'Asia',
    'Thailand': 'Asia',
    'Hungary': 'Europa',
    'Italy': 'Europa',
    'Latvia': 'Europa',
    'Liechtenstein': 'Europa',
    'Lithuania': 'Europa',
    'Moldova': 'Europa',
    'Monaco': 'Europa',
    'Netherlands': 'Europa',
    'Norway': 'Europa',
    'Poland': 'Europa',
    'Portugal': 'Europa',
    'Romania': 'Europa',
    'Russia': 'Europa',
    'San Marino': 'Europa',
    'Slovakia': 'Europa',
    'Spain': 'Europa',
    'Sweden': 'Europa',
    'Switzerland': 'Europa',
    'Ukraine': 'Europa',


    # Agrega más países y continentes según sea necesario
}

# Crear una nueva columna 'Continente' basada en el diccionario de continentes
df['Continente'] = df['Country'].map(diccionario_continentes)

# Ordenar los países por continente
df = df.sort_values(by='Continente')

# Mostrar el DataFrame resultante
print(df)

         Country  Total Library Size  No. of TV Shows  No. of Movies  \
36        Mexico                4993             3158           1835
22      Honduras                4989             3154           1835
21     Guatemala                4767             3154           1613
10    Costa Rica                4988             3152           1836
63       Uruguay                4989             3154           1835
..           ...                 ...              ...            ...
1      Australia                6114             4050           2064
25       Iceland                6387             4426           1961
27     Indonesia                3887             2449           1438
28       Ireland                6486             4515           1971
52  South Africa                5736             3686           2050

    Cost Per Month - Basic ($)  Cost Per Month - Standard ($)  \
36                        6.62                          10.43
22                        7.99                          10.99
21                        7.99                          10.99
10                        8.99                          12.99
63                        8.99                          12.99
..                         ...                            ...
1                         7.84                          12.12
25                        9.03                          14.67
27                        8.36                          10.66
28                        9.03                          14.67
52                        6.26                          10.05

    Cost Per Month - Premium ($)       Continente
36                         14.24  América Central
22                         13.99  América Central
21                         13.99  América Central
10                         15.99  América Central
63                         15.99      América Sur
..                           ...              ...
1                          16.39          Oceanía
25                         20.32              NaN
27                         12.96              NaN
28                         20.32              NaN
52                         12.58              NaN

[65 rows x 8 columns]