In [2]:
import pandas as pd

In [ ]:
#Importo la base de datos

In [15]:
db = pd.read_csv("ENGAGEMENT.csv", skiprows=5, encoding="latin1", sep="\t")

In [ ]:
#Acá eliminé las primeras cinco filas porque no tenían información, ocupé latin1 para arreglar el error y cambié es separador de comas a /t porque los títulos de las series de la base de datos incluían comas en el texto

In [ ]:
db = db[';Title;Available Globally?;Release Date;Hours Viewed;'].str.split(";", expand=True)

In [24]:
db = db.rename(columns={1: "Title", 2: "Available Globally?", 3: "Release Date", 4: "Hours Viewed"})

In [ ]:
#Le cambié el nombre a los headers de las columnas

In [26]:
db = db.drop(columns = [0, 5, 6, 7])

In [ ]:
#Eliminé las columnas sin información

In [35]:
db_global = db[db["Available Globally?"] == "Yes"]

In [ ]:
#Eliminé las series que no estaban disponibles globalmente

In [36]:
db_global = db_global.reset_index(drop=True)

In [ ]:
#Armé una nueva base de datos para trabajar

In [38]:
db_global.to_csv("engagement_global.csv")